
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ced097;
}

#container{
    background-color:white;
    display:flex;
    width: 320px;
    height: 320px;
    flex-wrap: wrap;
    padding: 8px;
}

button{
    margin-bottom: 32px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 32px;
}
.box{
    background-color: white;
    display:flex;
}